.green {
  color: green;
  cursor: pointer;
}

.span-unchecked {
  cursor: pointer;
}

.style-check {
  font-size: 25px;
  width: 8%;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
}

.style-container {
  margin-top: 2%;
  width: 25%;
  border-width: 1px;
  border-style: solid;
  padding: 1%;
}

.style-delete {
  color: red;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 2%;
  cursor: pointer;
}

.style-edit {
  font-size: 20px;
  margin-left: 2%;
  margin-top: 2%;
  cursor: pointer;
  color: black;
}

.style-input {
  border: none;
  margin-top: 5%;
}

.style-item {
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
  cursor: auto;
  width: 75%;
}

.style-row {
  border-width: 1px;
  border-bottom-style: solid;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
}

.text-line-through {
  text-decoration: line-through;
}

button {
  margin-top: 3%;
}